@media screen and (max-width: 1024px) {
  .container {
    max-width: 919px;
    width: 100%;
  }

  .header-inner {
    min-height: 122px;
    position: relative;
  }

  .nav {
    display: none;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
  }

  .header-logo svg {
    width: 80px;
  }

  /* burger */
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 31px;
    border: none;
    background: none;
    position: absolute;
    right: 0;
  }

  .burger-icon-inner,
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
  }

  /* menu open */
  .header.menu-open {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 316px;
    z-index: 2;
    /* position: relative; */
  }

  .header.menu-open .header-inner {
    max-width: 919px;
    margin: 0 auto;
  }

  .header.menu-open .burger-icon-inner,
  .header.menu-open .burger-icon::before,
  .header.menu-open .burger-icon::after {
    background: #fff;
  }

  .header.menu-open .logo-svg {
    fill: #fff;
  }

  .header.menu-open + .carousel {
    padding-top: 122px;
  }

  .header.menu-open .nav {
    display: block;
    position: absolute;
    top: 176px;
    left: 270px;
  }

  .nav-item-link {
    color: white;
  }

  .header.menu-open .burger-icon::after {
    content: none;
  }

  .header.menu-open .burger-icon-inner {
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    transition: transform 0.5s;
  }

  .header.menu-open .burger-icon::before {
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
    transition: transform 0.5s;
  }

  .nav.menu-open .burger-icon-inner {
    display: block;
  }

  .box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box {
    /* min-width: 928px; */
    min-height: 214px;
    margin-bottom: 32px;
  }

  .box:first-child {
    margin-right: 0;
  }

  .counter {
    padding: 48px;
  }

}

@media screen and (max-width: 414px) {
  .container {
    max-width: 373px;
    width: 100%;
  }

  .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 15px 0;
  }

  .header-logo {
    display: none;
  }

  .header.menu-open .header-logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .header.menu-open .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-item:not(:first-child) {
    margin-left: 0;
    margin-top: 48px;
  }

  .header.menu-open .nav {
    position: absolute;
    top: 120px;
    left: -20px;
  }

  .burger-icon {
    z-index: 2;
  }

  .burger-icon-inner, 
  .burger-icon::before, 
  .burger-icon::after {
    background: white;
  }

  .box {
    min-width: 335px;
    min-height: 276px;
    margin: 0 auto;
  }

  .counter {
    font-size: 16px;
  }

  .box:first-child {
    margin-bottom: 32px;
  }

  .value {
    font-size: 24px;
  }

  .textarea {
    width: 335px;
    height: 150px;
    margin: 0;
  }

  .btn {
    position: static;
    width: 335px;
    height: 60px;
    margin-top: 19px;
  }
}
